* {
  margin-top: 0px;
}

.container {
  color: white; 
  font-family: 'Roboto Condensed', sans-serif; 
  font-weight: 400; 
  font-size: 1.8em; 
  line-height: 1.2em; 
  overflow: hidden;
  
}

.reverseDisplay {
  display: flex;
  flex-direction: column-reverse;
}

.text-align-color {
  text-align: right;
  color: greenyellow;

}

.color-red {
  color: red;
}

.color-blue {
  color:blue;
}