.mainContainer {
  background-color: black;
  overflow: hidden;
}

.greetingContainer {
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding: 2%;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 4.4em;
  line-height: 1.4em;
}

.imageDisplay {
  display: inline;
}

.Thermo {
  width:54px;
  margin-right: 20px;
}

.Heart {
  width:54px;
  margin-right: 10px;
  margin-left: 30px;
}

.convoContainer {
  position: absolute; 
  top: 0;
  right: 0; 
  width: 440px; 
  height: 1020px; 
  padding: 2%; 
}